<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/awesome.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= META_DESCRIPTION %>" />
    <title><%= APP_TITLE %></title>
  </head>
  <body>
    <div id="app"></div>
    <!-- 真正子组件的部分被转移到了这里！-->
    <div id="card"></div>
    <script type="module" src="./src/main.ts"></script>
  </body>
</html>
